.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #0056b3;
}

.right-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.right-button:hover {
    background-color: #217588;
}

.header-title {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}